* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh;
}
.index{
    background: linear-gradient(75deg, #fff 50%, #198686 50%);
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 858px){
    .checkbtn{
        display:block;
        color:#34495e;
    }
    #check:checked ~ ul{
        left: 0;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: none;
        top: 80px;
        left: -100%;
        text-align: left;
        transition: all .5s;
        float: right;
    }
}

.header-menu{
    position: fixed; 
    display: flex;
    z-index: 1;
}
.header-menu-logo{
    width: 45%;
}
.header-menu-list{
    width: 55%;
    margin-top: 25px;

}
.header{
    margin: 0 0 1em 0;
    padding: 0; 
    width: 100%; 
    height: 50px;
}
.logo{
    margin: 35px;
    position: relative;
    display: flex;
}
.logo .dark-blue {
    color: #05314e;
    font-size: 1.5rem;
}
.logo .green {
    color: #008000;
    font-size: 1.5rem;
}
.header ul{
    align-content: center; 
    text-align: center;
    justify-content: space-between;
    position: fixed;
    gap: 1em;
    margin-left: 35rem;
    list-style: none;
    display: flex;

} 
.header li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff; 
    background: #198686;
    border-radius: 5px;

}

.all {
    display: flex;
    width: auto;
}
.logo-left {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.logo-left a i{
    color: gray;
    margin-top: 1em;
    margin-left: 25px;

}
.logo-left a:hover i{
    color: #198686;
}
.info-desc {
    margin-top: 10rem;
    width: 35%;
    position: relative;
}
.picture {
    width: 50%;
}
.picture img{
    height: 450px;
    width: 400px;
    object-fit:cover;
    margin-top: 200px;
    margin-right: 350px;
}

.hello {
    font-family: 'Courier New', Courier, monospace;
    color: #198686;
    line-height: 1.8;
    margin-top: 10px;
}
.name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #05314e;
    font-weight:bold;
    line-height: 1.8;   
}
.to-do {
    font-family:'Courier New', Courier, monospace;
    color: #05314e;
    font-size: 15px;
    line-height: 3;
}
.btn-hire-me {
    background-color: #198686;
    color: #fff;
    height: 2.5em;
    width: 7em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.description {
    font-family: 'Courier New', Courier, monospace;
    color: #05314e;
    line-height: 1.5rem;
}

@media (min-width:320px) and (max-width:480px) {
    body{
        width: auto;
        height: auto;
    }
    .header-menu-list li a{
        display: block;
    }
    .index{
        background: #aec2d3;
    }
    .picture img{
        display: none;
    }
    .logo{
        display: none;
    }
    .all .info-desc{
        font-size: 20px;
    }
    
 } 

/*About us */
.container-1 {
    display: flex;
}

.image{
    width: 50%;
}
img{
    width: 30rem;
    height: 30rem;
    margin: 0%;
}
.about-txt{
 width: 50%;
 position: relative;
}
.about-txt .hire-me{
    margin-top: 50px;
    text-decoration: capitalize;
    color: #05314e;
    font-size: 30px;
    margin-top: 90px;
}

.skills{
    width: 50%;
}
.skill-name{
    font-size: 12px;
    font-weight: 700;
    color: #05314e;
    margin: 20px 0;
}
.skill-bar{
    height: 10px;
    background: rgb(129, 125, 125);
    border-radius: 4px;
}
.skill-per{
    height: 10px;
    background: #198686;
    border-radius: 4px;
    position: relative;
    animation: fillBars 2.5s 1;
}
.skill-per::before {
    content: attr(per);
    position:absolute;
    padding: 4px 6px;
    background: #fff;
    border-radius: 5px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}
.skill-per::after {
    content: "  ";
    position:absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}
@keyframes fillBars {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
#about-us .about-us-header{
    color: #05314e;
   text-align: center;
   justify-content: center;
   margin-top: 50px;
}
.about-txt .reason-to-hire {
    color: #05314e;
   display: block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3em;
  line-height: 1.5em;
}
@media (max-width:1280) {
    .skills{
        display: block;
        font-size:10px;
    }
    .btn a{
        display: block;
        font-size: 15px;
    }

    
}
@media (min-width:858px){
    .about-txt{
        padding: 20px;
    }
    .skills{
        display: block;
        font-size:10px;
    }
    .btn a{
        display: block;
        font-size: 15px;
    }
}
/* Pricing*/
.container-4{
    display: flex;
    margin: auto;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.486);
    flex-wrap: wrap;
    padding: 70px;

   }
   .container-4 .table {
       background: #fff;
       width: calc(33% - 20px);
       padding: 30px;
       position: relative;
}
.table .price-area{
    line-height: 5px;
    justify-content: center;
}

.price-area .area .text {
    height: 100%;
    width: 100%;
    color: #198686;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    line-height: 30px;
}
.price-area .package-name {
   color: #05314e;
   padding: 5px;
}
.area .txt {
   color: #05314e;
   line-height: 40px;

}
.feature li {
    list-style: none;
    margin-bottom: 15px;
    display: flex;
    gap: 1.5rem;
}
.feature li .list-name{
    font-size: 15px;
   color: #05314e;

}
.feature li .icon.check {
    color: #1aac3c; 
}
.feature li .icon.cross {
   color: #eb1010; 
}
.table .btn-plan {
   justify-content: center;
}
.table .btn-plan button {
   color: #198686;
   height: 50px;
   width: 60%;
   border: 2px solid #05314e;
   border-radius: 30px;
   cursor: pointer;
   font-size: 12px;
}
.table .btn-plan button:hover {
   background-color: #198686;
   color: #fff;
}
@media (max-width:1028px) {
   .container-4 .table {
       width: calc(50%, -20px);
       margin-bottom: 40px;
   }
}
@media (max-width:698px) {
   .container-4 .table {
       width: 100%;
   }
}
.table .ribbon{
   height: 80px;
   width: 100px;
   position: absolute;
   top: 0px;
   right: 10px;
   overflow: hidden;
}
.table .ribbon span {
   position: absolute;
   background: #198686;
   width: 150px;
   padding: 0 0;
   color: #fff;
   text-align: center;
   top: 30px;
   left: 0px;
   transform: rotate(45deg);
   overflow: hidden;  
}
.btn-index a{
   background-color: #198686;
   color: #fff;
   height: 25px;
   width: 10rem;
   border-radius: 10px;
   cursor: pointer;
   font-size: 20px;
   text-align: center;
   text-decoration: none;
   border: none;
}
/*Service*/
.service-menu {
    height: 100%;
    width: 100%;
    height: auto;
}
.service-menu {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #05314e;
    margin-top: 30px;
    height: 100%;
    width: 100%;
}
.service-menu h1::after{
    content: "";
    width: 110px;
    height: 5px;
    background: #198686;
    display: flex;
    margin: auto;
}

.services {
    text-align: center;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 120px;  
}
.services>div{
    padding: 10px 10px;
    background: #fff;
}
.services>div:hover{
    background: #198686;
    transition: 0.5s ease;
    border-radius: 5px;
}
.services i{
    height: 45px;
    width: 45px;
    font-size: 30px;
    color: #fff;
    background-color: #198686;
    line-height: 40px;
    border-radius:4px;
    margin-bottom: 25px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.services .content{
    font-size: 15px;
    letter-spacing: 1px;
    color: #05314e;
}
.services .sub-content {
    font-size: 15px;
    letter-spacing: 1.5;
    color: #05314e;
}
@media screen and (max-width: 768px) {
    .services {
        grid-template-columns: repeat(1, 1fr);
    }
    .graphical{
        margin: 0;
    }

}
/* Contact us*/
.contact-section{
    background: #fff;
    padding: 40px 0;
}
.contact-section h1{
    text-align: center;
    color: #05314e;
    padding: 5px;
}
.border{
    width: 100px;
    height: 10px;
    background: #198686;
    margin: 40px auto;
}
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: rgb(71, 68, 68);
    padding: 20px 40px;
    outline: none;
    color: #fff;
    transition: 0.5s;
    border-radius: 5px;   
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background:#34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background:#146bc2 ;
}